Django>=4.2,<5.0
djangorestframework
psycopg2-binary
python-dotenv

dj-database-url
whitenoise
gunicorn
drf-spectacular
Pillow
djangorestframework-simplejwt
openpyxl
django-allauth>=0.57.0
requests
cryptography
